.links {

    background-color: rgb(112, 112, 172);
    border: 4px solid gold;
    display: flex;
    margin-block-end: 1%;

}

/* links internos */

.link {

    display: inline-flex;
    border: 2px solid #5757F7;
    background-color: #A1A1F7;
    width: 350px;
    height: 200px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-end: 2%;

}


.link a{

    text-decoration: none;
    color: white;
    font-size: 25px;
    display: inline-flex;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 4%;
    margin-block-end: 4%;

}

@media screen and (max-width: 768px){

    .links {

        background-color: rgb(112, 112, 172);
        border: 4px solid gold;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        min-height: 600px;
        margin-block-end: 2%;
    
    }
    
    /* links internos */
    
    .link {

        min-width: 250px;
        width: auto;
        height: 200px;
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 10%;
        margin-block-end: 5%;
    
    }
    
    .link a{
    
        text-decoration: none;
        color: white;
        font-size: 25px;
        display: inline-flex;
        margin-top: 4%;
        margin-block-end: 4%;
    
    }

}